body {
  padding: 0;
  margin: 0;

}

#map,
body,
html {
  /* height: 90%; */
  /* width:800px; */
  height:700px;
  width:100%;
}

.section{
  background-image: url('https://www.thoughtco.com/thmb/wuEcSPFCojJ-8zIUswQVb02XX6M=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/GettyImages-685015187-597dd84a519de2001182016b.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow:auto;
}

.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  }
  .legend {
  background-color: “black”;
  line-height: 25px;
  color: #555;
  width: auto;
  }
  .legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
  }

.gauge {
  display: inline-block;
  position: relative;
  margin-left: 39%;
}

.gauge > div[role=meter] {
  border-radius: 8rem 8rem 0 0;
  border: 1px solid black;
  width: 16rem;
  height: 8rem;
  background-color: black;
  position: absolute;
  overflow: hidden;
  background: conic-gradient(from 0deg at 50% 100%,
                              red 30deg, #8f3f97 30deg 60deg,
                              #7e0023 60deg 91deg, transparent 91deg 269deg,
                              #00e400 269deg 300deg, #ffff00 300deg 330deg,
                              #ff7e00 330deg 360deg);
}

.gauge > label {
  font-size: 14px;
  text-align: center;
  background-color: black;
  padding: .2rem 0;
  display: block;
}

.dial {
  background-color: #00ff00;
  transition: background-color 1s, color .25s;
  border-radius: 10rem 10rem 0 0;
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  left: 15%;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0px 0px 0px 1rem #000;
  border-bottom: none;
  box-sizing: border-box;
  color: #000;
}

.dial.white {
  color: #fff;
}

.dial > span {
  text-align: center;
  font-family: sans-serif;
}

.dial > .arrow {
  position: absolute;
  left: calc(50% - .25rem);
  bottom: 0;
  width: .5rem;
  height: calc(100% + 1px);
  background-color: transparent;
  transform-origin: bottom center;
  transform: rotate(-90deg);
  transition: transform 1s;
}

.dial > .arrow:after {
  content: "";
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-top: .5rem solid #000;
  position: absolute;
  left: calc(50% - .5rem);
  top: 0;
  width: 0;
  height: 0;
  transition: border-color .25s;
}

.dial.white > .arrow:after {
  border-top-color: #fff;
}

.aqi-num {
  font-weight: bold;
  font-size: 120%;
  margin-top: 1.25rem;
}

@media (forced-colors: active) {
  .dial {
    border: 2px solid black;
    border-bottom: none;
  }
  
  .gauge > div[role=meter] {
    border-width: 2px;
    border-bottom: none;
  }
  
  .gauge > label {
    border: 2px solid black;
  }
}

/* <style>
.dropdown {
  position: relative;
  display: inline-block;
} */

/* .locality-dropdown {
  position: center;
} */

/* select {
  width: 50%;
} */

/* .select {
  align-items: center;
} */

/* .select:after {
  justify-self: end;
} */